<div class="pull-left">
    <a href="#/marvel/comics" class="card-title menu-padding">Marvel Comics</a>
</div>
<div class="pull-left">
    <a href="#/marvel/characters" class="card-title">Marvel Characters</a>
</div>

<br>
<!--<div id="content">-->
    <h2>Characters</h2>

    <div id="characters" class="results">
        <article class="card" ng-repeat="character in ::MCharactersCtrl.characters.$$state.value track by $index">
            <img ng-src="{{ ::character.thumbnail.path }}/portrait_incredible.jpg" alt="{{ ::character.name }} thumbnail" class="img-rounded">
            <footer>
                <h5>
                    {{ ::character.name }}
                    <!--<a href="{{ getCharacterURL($char) }}" class="card-title"></a>-->
                </h5>
            </footer>
        </article>
    </div>
    <!--<div id="pagination">-->
        <!--{{ $paginated_results->setPath('characters')->render() }}-->
    <!--</div>-->
<!--</div>-->